body {
    background-image: url("https://r4.wallpaperflare.com/wallpaper/451/142/568/nintendo-pokemon-gengar-haunter-artwork-gastly-banette-anime-pokemon-hd-art-wallpaper-290058bd11aa6d7bf6e7b85fe041963d.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
