@{
    ViewBag.Title = "Selecciona un Pokémon";

}
<div class="flex justify-between flex-wrap w-5/6 m-auto">

@foreach (var pokemon in Model)
{

        <div id='@pokemon.Id' onclick="seleccionarPokemon('@pokemon.Id', this)" class="pokemon-card block min-w-[18rem] rounded-lg mx-auto bg-rose-600 bg-opacity-50">
            <div class="relative overflow-hidden bg-cover bg-no-repeat h-40 flex">
                <img class="rounded-t-lg m-auto w-16" src="@pokemon.Imagen" alt="" />
            </div>
            <div class="p-6 bg-gradient-to-r from-slate-800 to-gray-900">
                <p class="text-base text-center font-bold text-neutral-200">
                    @pokemon.Nombre
                </p>
            </div>
        </div>
    }
</div>