USE [Pokemon-Juego]
GO
/****** Object:  Table [dbo].[Ataque]    Script Date: 25/10/2023 16:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ataque](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](20) NOT NULL,
	[IdPokemon] [int] NULL,
 CONSTRAINT [PK_Ataque] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 25/10/2023 16:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](20) NULL,
	[Vida] [int] NULL,
	[Imagen] [ntext] NULL,
 CONSTRAINT [PK_Pokemon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pokemon] ADD  CONSTRAINT [DF_Pokemon_Vida]  DEFAULT ((100)) FOR [Vida]
GO
ALTER TABLE [dbo].[Ataque]  WITH CHECK ADD  CONSTRAINT [FK_Ataque_Pokemon] FOREIGN KEY([IdPokemon])
REFERENCES [dbo].[Pokemon] ([Id])
GO
ALTER TABLE [dbo].[Ataque] CHECK CONSTRAINT [FK_Ataque_Pokemon]
GO
