@{
    ViewBag.Title = "Batalla";

}
 <div class="flex justify-between flex-wrap m-auto">

            <div id="Bulbasaur" onclick="seleccionarPokemon('Charizard', this)"
                class="pokemon-card min-w-[18rem] mx-auto">
                <h1 class="pl-10 pt-2 sm:pt-5 text-white sm:pl-80 text-xl pt-5 font-bold">Vida <span
                        class="text-xl text-red-600">30%</span></h1>
                <div class=" h-4 relative w-full rounded-full overflow-hidden">
                    <div class=" w-full h-full bg-amber-400 absolute "></div>
                    <div class=" h-full bg-gray-600 sm:bg-indigo-500 absolute" style="width:20%"></div>
                </div>
                <div class="relative overflow-hidden flex h-[30rem]">
                    <img class="rounded-t-lg m-auto w-[20rem] transform -scale-x-100"
                        src="https://www.pkparaiso.com/imagenes/espada_escudo/sprites/animados-gigante/bulbasaur.gif"
                        alt="" />
                </div>
                <div class="p-6 bg-gradient-to-r from-green-800 to-gray-900">
                    <p class="text-base text-center font-bold text-neutral-200">
                        Bulbasaur
                    </p>
                </div>
                <div class="grid grid-rows-2 grid-cols-2 gap-4">
                    <a href="#"
                        class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 block p-4 rounded-md text-white text-center">
                        Ataque1
                    </a>
                    <a href="#"
                        class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 block p-4 rounded-md text-white text-center">
                        Ataque2
                    </a>
                    <a href="#"
                        class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 block p-4 rounded-md text-white text-center">
                        Ataque3
                    </a>
                    <a href="#"
                        class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 block p-4 rounded-md text-white text-center">
                        Ataque4
                    </a>
                </div>


            </div>

            <div id="Pikachu" onclick="seleccionarPokemon('Blastoise', this)"
                class="pokemon-card min-w-[18rem] mx-auto">
                <h1 class="pl-10 pt-2 sm:pt-5 text-white sm:pl-80 text-xl pt-5 font-bold">Vida <span
                        class="text-xl text-red-600">30%</span></h1>
                <div class=" h-4 relative w-full rounded-full overflow-hidden">
                    <div class=" w-full h-full bg-amber-400 absolute "></div>
                    <div class=" h-full bg-gray-600 sm:bg-indigo-500 absolute" style="width:20%"></div>
                </div>
                <div class="relative overflow-hidden flex h-[30rem]">
                    <img class="rounded-t-lg m-auto w-[20rem]"
                        src="https://www.pkparaiso.com/imagenes/espada_escudo/sprites/animados-gigante/pikachu.gif"
                        alt="" />
                </div>
                <div class="p-6  bg-gradient-to-r from-gray-900 to-yellow-900">
                    <p class="text-base text-center font-bold text-neutral-200">
                        Pikachu
                    </p>
                </div>
            </div>
 </div>